.logo {
  margin: 1rem;
}
.login {
  .login-form {
    margin: 1rem auto;
    background: rgba(0, 0, 0, 0.521);
    display: flex;
    flex-direction: column;
    padding: 5rem 3rem;
    position: relative;
    gap: 1rem;
    max-width: 30rem;
    border-radius: 0.4rem;
    h1 {
      font-weight: 200 !important;
    }
    label:not(.checkbox) {
      color: gray;
      position: absolute;
      transition: all 0.2s;
      pointer-events: none;
      &:nth-child(3) {
        top: 10.3rem;
        left: 3.5rem;
      }
      &:nth-child(5) {
        top: 14.3rem;
        left: 3.5rem;
      }
      &:nth-child(7) {
        top: 18.3rem;
        left: 3.5rem;
      }
    }
    .email:focus + label,
    .email:valid + label {
      &:nth-child(3) {
        top: 9.6rem;
        font-size: 0.7rem;
      }
    }
    .password:focus + label,
    .password:valid + label {
      top: 13.5rem;
      font-size: 0.7rem;
    }
    .c_password:focus ~ label,
    .c_password:valid ~ label {
      top: 17.6rem;
      font-size: 0.7rem;
    }

    input:not(#check) {
      height: 3rem;
      background: rgb(70, 70, 70);
      border: none;
      border-radius: 0.3rem;
      outline: none;
      color: white;
      font-size: 14px;
      padding: 0.5rem;
      padding-top: 1rem;
    }
    #check {
      margin-right: 0.3rem;
    }
    button {
      background: red;
      color: white;
      height: 3rem;
      font-size: 1rem;
      border: none;
      border-radius: 0.3rem;
      margin-top: 2rem;
      &:hover {
        background: rgb(197, 6, 6);
      }
    }
    .rememberMe {
      width: 100%;
      align-self: flex-start;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.3rem;
    }
  }
}

@media (max-width: 875px) {
  .login {
    margin-top: 33px;
    .login-form {
      margin: 0 auto;
      width: 97%;
      h2 {
        align-self: flex-start;
      }
      label:not(.checkbox) {
        color: gray;
        position: absolute;
        transition: all 0.2s;
        pointer-events: none;
        &:nth-child(3) {
          top: 9rem;
        }
        &:nth-child(5) {
          top: 13rem;
        }
        &:nth-child(7) {
          top: 17rem;
        }
      }
      .email:focus + label,
      .email:valid + label {
        &:nth-child(3) {
          top: 134.4px;
          font-size: 0.7rem;
        }
      }
      .password:focus + label,
      .email:valid + label {
        top: 196.8px;
        font-size: 11.2px;
      }
      .c_password:focus ~ label,
      .c_password:valid ~ label {
        top: 16.3rem;
        font-size: 0.7rem;
      }
    }
  }
}
