section:not(.intro) {
  border-top: 1px solid rgb(180, 13, 13);
}

.intro {
  height: 100vh;
  color: white;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 0,
    transparent 20%,
    rgba(0, 0, 0, 0.7) 90%
  );
  &::before {
    content: "";
    background: url(../../assets/hero-img.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    height: 100vh;
    z-index: -1;
  }
  nav {
    background: transparent;
    display: flex;
    padding: 1.7rem 3rem;
    align-items: center;
    gap: 1rem;
    z-index: 100;
    #logo {
      margin-right: auto;
      width: 8rem;
    }
    .select {
      background: transparent;
      display: flex;
      align-items: center;
      gap: 0.3rem;
      border: 1px solid rgb(226, 226, 226);
      padding: 0.4rem 0.4rem;
      border-radius: 0.2rem;
      select {
        font-size: 1rem;
        outline: none;
        border: none;
        background: transparent;
        color: white;
        option {
          background: #000;
        }
      }
    }
    #signin {
      border-radius: 0.2rem;
      border: none;
      background-color: #e50914;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      color: white;
    }
  }
  #hero_img {
    position: absolute;
    top: 0;
    width: 99.99%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
  }
  // .transparent {
  //   // position: absolute;
  //   top: 0;
  //   display: none;
  //   height: inherit;
  //   width: inherit;
  //   background: transparent;
  //   background-image: linear-gradient(
  //     0deg,
  //     rgba(0, 0, 0, 0.7) 0,
  //     transparent 10%,
  //     rgba(0, 0, 0, 0.7) 70%
  //   );
  //   z-index: -1;
  // }
  main {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    height: 86vh;
    top: 0;
    text-align: center;
    h1 {
      max-width: 600px;
    }
    form {
      height: 4rem;
      background: #000;
      width: 30rem;
      input {
        width: 70%;
        height: 100%;
        border: none;
        outline: none;
        padding: 0.4rem;
        font-size: 1rem;
      }
      button {
        display: inline-flex;
        align-items: center;
        width: 30%;
        height: 100%;
        border: none;
        font-size: 1rem;
        background: red;
        color: white;
        font-weight: bold;
        padding: 1rem;
      }
    }
  }
}
.features {
  .feature {
    display: flex;
    padding: 0 5rem;
    align-items: center;
    .title {
      h1 {
        margin-bottom: 2rem;
      }
    }
    .tv {
      position: relative;
      video {
        position: absolute;
        top: 6rem;
        left: 5rem;
        z-index: -1;
      }
    }
  }
}

@media (max-width: 875px) {
  .intro {
    nav {
      justify-content: space-between;
      padding: 1rem;
      #logo {
        width: 6rem;
      }
      #signin {
        padding: 0.5rem;
      }
    }
    main {
      form {
        display: flex;
        justify-content: center;
        width: 80%;
        height: 3rem;
      }
    }
  }
  .features {
    .feature {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 2rem 1rem;
      #stranger {
        height: 13rem;
      }
      .tv {
        img {
          width: 20rem;
        }
        video {
          width: 15rem;
          top: 3rem;
          left: 2.5rem;
        }
      }
    }
  }
}
