section:not(.intro) {
  border-top: 1px solid rgb(22, 22, 22);
}
//global form css
.form {
  height: 4rem;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr max-content;
  label {
    position: absolute;
    color: rgb(134, 134, 134);
    top: 1.3rem;
    left: 0.4rem;
    pointer-events: none;
  }
  input {
    height: 100%;
    border: none;
    outline: none;
    padding: 0.4rem;
    font-size: 1rem;
    &:focus ~ label {
      top: 0.1rem;
      font-size: 0.6rem;
      transition: 0.2s ease;
    }
  }
  button {
    height: 100%;
    border: none;
    font-size: 1rem;
    background: red;
    color: white;
    font-weight: bold;
    padding: 1rem;
  }
}

.intro {
  height: 100vh;
  color: white;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 0,
    transparent 20%,
    rgba(0, 0, 0, 0.7) 90%
  );
  &::before {
    content: "";
    background: url(../../assets/hero-img.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    height: 100vh;
    z-index: -1;
  }
  nav {
    background: transparent;
    display: flex;
    padding: 1.7rem 3rem;
    align-items: center;
    gap: 1rem;
    z-index: 100;
    #logo {
      margin-right: auto;
      width: 8rem;
    }
    .select {
      background: transparent;
      display: flex;
      align-items: center;
      gap: 0.3rem;
      border: 1px solid rgb(226, 226, 226);
      padding: 0.4rem 0.4rem;
      border-radius: 0.2rem;
      select {
        font-size: 1rem;
        outline: none;
        border: none;
        background: transparent;
        color: white;
        option {
          background: #000;
        }
      }
    }
    #signin {
      border-radius: 0.2rem;
      border: none;
      background-color: #e50914;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      color: white;
    }
  }
  #hero_img {
    position: absolute;
    top: 0;
    width: 99.99%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
  }
  main {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    height: 86vh;
    width: 50vw;
    margin: 0 auto;
    top: 0;
    text-align: center;
    h1 {
      max-width: 600px;
    }
  }
}

.features {
  .feature {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 6rem 7rem;
    align-items: center;
    .title {
      h1 {
        margin-bottom: 2rem;
      }
    }
    .tv {
      position: relative;
      img {
        width: 30rem;
      }
      video {
        position: absolute;
        top: 4rem;
        width: 370px;
        left: 3rem;
        z-index: -1;
      }
    }
    &:nth-child(even) {
      position: relative;
      .title {
        order: 2;
      }
      gap: 2rem;
    }
    &:nth-child(3) {
      video {
        top: 2rem;
        width: 300px;
        left: 5.5rem;
      }
    }
    .img_group {
      position: relative;
      .download-status {
        position: absolute;
        display: flex;
        background: #000;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding: 0.4rem 1rem;
        border: 1px solid gray;
        border-radius: 1rem;
        bottom: 1rem;
        left: -1.7rem;
        img {
          width: 50px;
        }
        p {
          color: rgb(0, 110, 255);
        }
        .downloadGif {
          margin-left: 4rem;
        }
      }
    }
  }
}
.accordion {
  margin: 0 auto;
  h1,
  h2 {
    margin: 3rem 0;
  }
  padding: 1rem 17rem;
  text-align: center;
  #lastform {
    width: 100%;
    margin-top: 1rem;
  }
}

@media (max-width: 875px) {
  .intro {
    nav {
      justify-content: space-between;
      padding: 1rem;
      #logo {
        width: 6rem;
      }
      #signin {
        padding: 0.5rem;
      }
    }
    main {
      width: 100%;
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    align-items: center;
    height: 7rem;
    input {
      width: 100%;
    }
    button {
      padding: 0.5rem;
    }
    label {
      top: 0.9rem;
    }
  }
  .features {
    .feature {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 2rem 1rem;
      #stranger {
        height: 13rem;
      }
      .tv {
        img {
          width: 20rem;
        }
        video {
          width: 15rem;
          top: 3rem;
          left: 2.5rem;
        }
      }
      &:nth-child(even) {
        flex-direction: column-reverse;
        gap: 2rem;
      }
      &:nth-child(3) {
        video {
          top: 1rem;
          width: 200px;
          left: 3.5rem;
        }
      }
      .img_group {
        position: relative;

        font-size: 0.7rem !important;

        .download-status {
          img {
            width: 30px;
          }
          .downloadGif {
            margin-left: 1rem;
          }
        }
      }
    }
  }
  .accordion {
    padding: 1rem;
  }
}
