* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  background: rgb(0, 0, 0);
  color: white;
}
h1 {
  font-size: 50px;
  line-height: 55px;
}
h2 {
  font-size: 26px;
  font-weight: 400;
}
h3 {
  font-size: 19px;
  font-weight: 400;
}
button {
  cursor: pointer;
}

@media (max-width: 600px) {
  h1 {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
  }
  h2 {
    font-size: 16px;
    font-weight: 400;
  }
  h3 {
    font-size: 16px;
    font-weight: 400;
  }
}
